<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About Us</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                We are a small family run business how to committed to giving you High quality work and finsihes 
		for your home. 
		..........
                
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Some more test here about you and the business.
            </p>
        </div>
    </div>
</section>
